@import "tailwindcss";
@theme {
  --breakpoint-sm: 48.75rem
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url(/images/clouds.jpg);
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-oswald);
  color: #ffffff;
}


h1 {
  font-size: 8rem;
    font-weight: 100;
    opacity: 0.5;
    text-shadow: 5px 1px 1px #29292985;
    color: #ffffff;
}

img.trefoil {
  opacity: 0.5
}

.composer-bug {
font-size: 1.5vw;
    font-weight: 100;
    position: relative;
    font-family: var(--font-oswald);
    top: -1vw;
    left: 2vw;
}


h3 {
  color: black;
  font-size: 1.5rem;
}

div h2 {
color: #eee;
    text-shadow: 0 0 2px #0000008a;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2rem;
    font-family: var(--font-heading);
    border-bottom: 1px solid #ffffff57;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 17px;
}

.site-title {
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 5.5vw;
  letter-spacing: 0.5rem;
  text-shadow: 0  0 2px rgba(0, 0, 0, 0.255);
  transition: 0.3s ease-in-out;
  color: #ffffff;
}

.site-title:hover {
  
  text-shadow: 0px 0px 3px #ffffff6b;
}

.header-ribbon {
  background-color: rgba(220, 220, 220, 0.315);
  box-shadow: 0 0 12px #00000061;
  border: none;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #ffffff3b;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.admin_link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #00e040;
}

.search-box {
  position: relative;
  top: -34px;
}

.single-card {
  border-radius: 3px;
  background:#fffdfd57;
  border: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.322); */
  box-shadow: none;

}

.single-card h3 {
  color: white;
  font-weight: 900;
  text-shadow: 0px 1px 2px #00000059;
  font-family: var(--font-heading);

}

.single-card p, .single-card h3 + div {
  font-family: var(--font-paracopy);
}

input, select {
  color: #000;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 900;
}

.tag-select {
  background: #00807ca1;
}

.score-tag {
   position: absolute;
    top: 20px;
    background: #045c3c7a;
    padding: 10px;
    left: -5px;
    font-size: 9px;
}

nav a {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: 900;
}

nav a.font-semibold {
  text-shadow: 1px 2px #033a181d;
  background: #8080803c;
}

div > span.font-semibold {
  color: black;
}

label {
  color: black;
}

section div > button {
  background: black
}

footer {
  background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

a[href$=".pdf"] {
    color: #fff;
    font-weight: 900;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #ffffff80;
    border-width: 0;
    border-radius: 1px;
    padding: 2px;
    font-size: 12px;
    text-decoration: none;
}

img[alt="Mon Cœur Se Recommande à Rameau — score cover"], img[alt="Democracy, a poem by Langston Hughes — score cover"] {
  object-fit: contain;
  background: #fff;
}

.a-tag {
   font-family: var(--font-heading);
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 800;
   color: rgb(54, 54, 54);
   font-size: 8px;
}

@media (max-width: 48rem) {
     .search-box {
  position: relative;
  top: 0px;
}

}

@media (min-width: 75rem) {
    .site-title {
      font-size: 3.5rem;
    }

    .composer-bug {
      top: -13px;
      left: 20px;
      font-size: 1rem;
    }

}